#
# Target
#

CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_Generic=y


#
# LuCI
#

CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-ssl=y


#
# Wireless core
#

CONFIG_PACKAGE_kmod-cfg80211=y
CONFIG_PACKAGE_kmod-mac80211=y


#
# Intel WiFi
#

CONFIG_PACKAGE_kmod-iwlwifi=y
CONFIG_PACKAGE_kmod-iwl4965=y


#
# Firmware
#

CONFIG_PACKAGE_iwlwifi-firmware=y


#
# Wireless tools
#

CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_iwinfo=y


#
# AP
#

CONFIG_PACKAGE_hostapd=y
CONFIG_PACKAGE_wpad=y


#
# USB tools
#

CONFIG_PACKAGE_usbutils=y


#
# Utilities
#

CONFIG_PACKAGE_kmod-usb-core=y
