#
# Target
#

CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y


CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_TARGET_IMAGES_GZIP=y


#
# LuCI
#

CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-compat=y


#
# Wireless base
#

CONFIG_PACKAGE_kmod-cfg80211=y

CONFIG_PACKAGE_kmod-mac80211=y

CONFIG_PACKAGE_iw=y

CONFIG_PACKAGE_iwinfo=y

CONFIG_PACKAGE_wireless-regdb=y


#
# Intel wireless
#

CONFIG_PACKAGE_kmod-iwlwifi=y

CONFIG_PACKAGE_iwlwifi-firmware=y


#
# Intel 5000 series firmware
#

CONFIG_PACKAGE_iwlwifi-firmware-5000=y


#
# hostapd AP
#

CONFIG_PACKAGE_hostapd=y

CONFIG_PACKAGE_wpad=y

CONFIG_PACKAGE_wpad-basic=y



#
# USB / PCI support
#

CONFIG_PCI=y

CONFIG_PACKAGE_kmod-pci=y



#
# Network
#

CONFIG_PACKAGE_ip-full=y

CONFIG_PACKAGE_ethtool=y



#
# Kernel wireless options
#

CONFIG_PACKAGE_kmod-rfkill=y

CONFIG_PACKAGE_rfkill=y



#
# Utilities
#

CONFIG_PACKAGE_htop=y

CONFIG_PACKAGE_nano=y

CONFIG_PACKAGE_usbutils=y



#
# IPv6
#

CONFIG_IPV6=y



#
# Filesystem
#

CONFIG_TARGET_IMAGES_PAD=y
